<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="angularJsCommonFile">
<meta charset="ISO-8859-1">

<script th:src="@{/angular/lib/angular.min.js}" ></script>
 <script th:src="@{/angular/lib/ui-bootstrap-tpls-0.13.3.min.js}" ></script>
<script th:src="@{/angular/lib/ui-bootstrap-tpls-2.4.0.js}" ></script>
<script th:src="@{/angular/lib/angular-animate.min.js}" ></script>
<script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />

<script th:src="@{/angular/lib/angular-sanitize.min.js}" ></script>
<script  th:src="@{/angular/lib/angular-resource.min.js}"></script>
<script th:src="@{/angular/lib/angular-toggle-switch.min.js}" ></script> 
<script th:src="@{/angular/lib/angular-datatables.min.js}" ></script>
<script th:src="@{/angular/lib/angular-datatables.bootstrap.min.js}" ></script>
<script th:src="@{/angular/dirPagination.js}" ></script>
<!-- <script th:src="@{/angular/toastr.min.js}" ></script> -->

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
<script th:src="@{/angular/authComplete.js}" ></script>
<script th:src="@{/angular/angular-local-storage.min.js}" ></script>
<script th:src="@{/angular/loading-bar.min.js}" ></script>


<script th:src="@{/angular/lib/select2need.js}" ></script>
<script th:src="@{/angular/select2.full.min.js}" ></script> 
 <script th:src="@{/angular/select2.min.css}" ></script>      

</head>
<body>


</body>
</html>